body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 100px;
}
.juu{
    width: 50%;
    padding-left: 2%;
}
.juu img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.madiha{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.full-baby{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:20px;
    border-radius: 5px;
    
    
}
.experience-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#lubna{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
#jahan{
    border-image: linear-gradient(blue,tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p{
    text-align: center;
}
